@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b2838;
  color: #ffffffd3;
  margin: 0;
  font-family: 'Motiva Sans', sans-serif;
}

a {
  color: #67c1f5;
  text-decoration: underline;
  transition: color 0.25s ease-in;

  &:hover {
    color: #ff4500;
  }
}
